body {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 3rem;
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(251, 39%, 20%);
  --body-color: hsl(173, 50%, 55%);
}


@media screen and (min-width: 1152px) {
  :root {
      --biggest-font-size: 4rem;
      --bigger-font-size: 2rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 20px; 
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #49cc45; 
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-indent: 10vh;
}

#nav__name {
  color: white; 
  text-decoration: wavy;
  font-size: 28px; 
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
}

#logo {
  max-width: 50px;  
  margin-right: 10px;  
}

#nav__list {
  list-style: none;
  display: flex;
}

#nav__item {
  margin-right: 20px; 
}

.nav_link {
  color: white; 
  text-decoration: none;
  font-size: 16px; 
  transition: color 0.3s; 
}

.nav_link:hover {
  color: #f0f0f0; 
}

.active-link {
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
      position: fixed;
      top: 0;
      right: -100%;
      background-color: hsla(0, 0%, 10%, .3);
      width: 75%;
      height: 100%;
      padding: 4.5rem 0 0 3rem;
      backdrop-filter: blur(24px);
      -webkit-backdrop-filter: blur(24px);
      transition: right;
  }
}

.active-link {
  color: var(--first-color);
}

.home {
  background: linear-gradient(to bottom, #f3ff4be8, #fcb69f);
  padding: 100px;
  overflow: hidden; 
  position: relative;
}

.home__data {  
  flex: 1;
  padding: 70px;
  word-spacing: 5px;
}

.home__title {
  font-size: 2.5rem;
  line-height: 2;
  background: linear-gradient(to right, #8a2be2, #4a148c);
  text-shadow: 2px 2px 4px rgba(120, 62, 126, 0.3);
  transition: color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  font-family: fantasy;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;  
  top: 15%;
  padding: -10px;
  font-weight: bold;
}

.home__title:hover {
  color: #8f1489; 
  transform: scale(1.1); 
}

.home__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.home__product-card {
  width: 28rem;
  height: 300px;
  background-size: cover;  
  background-position: center;
  cursor: pointer;
  position: relative;
  margin-right: 0.5rem;
}


.home__product-card:last-child {
  margin-right: 0;
}

.home__product-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #fdff7b; 
  font-weight: bold;
  font-size: 1rem; 
  opacity: 0; 
  transition: opacity 0.3s, color 0.3s; 
}

.home__product-card:hover .home__product-info {
  opacity: 1; 
  color: #d6ff63; 
}

.swiper-container {
  width: 100%;
  margin-top: 20px;
  position: relative;
  z-index: 1; 
}

.swiper-slide {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-pagination-bullet {
  background-color: #fff;  
  width: 10px;  
  height: 10px;  
  opacity: 0.7;  
  z-index: 1;
}

.swiper-pagination-bullet-active {
  background-color: #457b9d;  
}

.swiper-pagination {
  bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;  
  font-size: 1.5rem;  
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .home__product-card {
    width: 100%;  
    height: 200px; 
  }

  .swiper-slide {
    height: 200px;  
  }
}

.featured {
  background-color: #176a8e;
  padding: 20px 70px;
  margin-bottom: 20px;
  margin-top: 20px;  
  overflow-x: auto;
  z-index: 1;
  clear: none;
}

.featured-products {
  display: flex;
  flex-wrap: wrap; 
}

.featured-product {
  flex: 5 0 auto;
  width: 300px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 38px;
  margin-right: 20px;
  margin-bottom: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block; 
}

.featured-img {
  width: 100%;
  max-height: 200px; 
  object-fit: cover;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.featured-data {
  padding: 30px;
}

.featured-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.featured-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.featured-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #e63946; 
  margin-bottom: 10px;
}

.featured-button {
  display: block;
  background-color: #457b9d; 
  color: #fff; 
  text-align: center;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.featured-scroll-container {
   width: 1000px; 
  overflow-x: auto;
}

.featured-button:hover {
  background-color: #1d3557; 
}

.featured-product:nth-child(odd) .featured-title,
.featured-product:nth-child(even) .featured-title {
  color: #fff; 
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.featured-products::-webkit-scrollbar {
  width: 10px;
}

.featured-products::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

.featured-products::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 8px; 
  border: 2px solid #f0f0f0; 
}

.featured-products::-webkit-scrollbar-thumb:hover {
  background-color: #999; 
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__logo a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.footer__social {
  flex: 1;
  text-align: center;
}

.footer__icon {
  display: inline-block;
  font-size: 1.25rem;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__icon:hover {
  color: #ffcc00; 
}

.footer__text {
  flex: 1;
  text-align: right;
}


@media only screen and (max-width: 768px) {
  #nav__list {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      z-index: 999;
  }

  #nav__list.active {
      display: flex;
  }

  #nav__toggle,
  #nav__close {
      display: block;
      cursor: pointer;
      color: white;
      font-size: 24px;
  }
}